button {
    padding: 10px;
    background-color: rgb(65, 65, 63);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }
  
  #result {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }